@charset "utf-8";
* {margin: 0; padding: 0;}

li {
    list-style: none;
}
a{
    color:inherit;
    text-decoration:none;
}
h5 {
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    width: 980px;
    margin: 0 auto;
}
.wrap {
    width: 980px;
    margin: 0 auto;
}
/* Setting */
/* Start header list*/

header {
    position: relative;
}
.logo {
    display: block;
    margin: 0 auto;
    background-image: url(../images/LOGO.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}
.intro {
    float:right;
}
.menu  {
    float: left;
    padding: 30 30 30 30px;
}
.menu a {
    display: block;
    background-image: url(../images2/menubar.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.title1 {
    margin-top: 80px;
    margin-bottom: 20px;
}
.title2 {
    /* margin-top: 80px; */
    margin-bottom: 20px;
}
.cate {
    margin-left: 5px;
}
.GNB li{
    float: left;
    margin-right: 20px;
}
.GNB {
    margin-left: 25px;
}
.line {
    float: left;
    margin-top: 50px;
}
.di:after {
    display: block;
    content: "";
    clear: both;
}
/* End header list */
/* Start Detail menu */
.main {
    margin-top: 30px;
    background-color: black;
    width: 100%;
    height: 300px;
}
.trend {
    color: white;
    margin-left: 300px;
}
.pager a {
    color: #ccc;
    width:14px;
    height:14px;
    border-radius:50%;
    float: left;
}
/* End Detail menu */
/* Start 이달의 기획전 */
.box {
    width: 980px;
    height: 400px;
    margin: 0 auto;
}
.promotion {
    margin: 0 center;
}
.a {
    background-image: url(../images/promotion_1.jpg);
}
.b {
    background-image: url(../images2/promotion_2.png);
}
.c {
    background-image: url(../images2/promotion_3.jpg);
    margin-right: 0px;
}
.item {
    background-size: cover;
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
}
.p {
    width: 300px;
    position: relative;
    float: left;
    margin-right: 20px;
}
.p:last-child() {
    margin-right: 0px;
}
.text {
    margin-top:30px;
    font-size: 18px;
    font-weight: bolder;
    margin-left:10px;
}
.stext{
    font-size: 11px;
    margin-left: 10px;
    margin-top: 4px;
}
.box:after {
    display: block;
    content: "";
    clear: both;
}
.black {
    background-color: black;
    border-radius: 5%;
    color: white;
    font-size: 10px;
    padding: 5px;
    position: absolute;
    margin-bottom: 30px;
    left: 10px;
}
/* End 이달의 기획전 */
/* Start 베스트 특가 아이템 */
.best1 {
    width: 950px;
    height: 400px;
    margin: 0 auto;
}
.besti {
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-right: 50px;
}
.besti:nth-child(1) {
    width: 250px;
    height: 350px;
    background-image: url(../images/best_1.jpg);
    margin-top: 50px;
}
.collection {
    width: 350px;
    height: 450px;
    background-image: url(../images2/best_2.jpg);
}
.best:after {
    display: block;
    content: "";
    clear: both;
}
.summer {
    width: 250px;
    height: 350px;
    background-image: url(../images2/best_3.jpeg);
    margin-top: 50px;
    margin-right: 0px;
}
.mt{
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
}

.besti p {
    color: white;
}
.t {
    margin-top: 200px;
}
.subt {
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.gray {
    height: 150px;
    background-color: rgb(185, 185, 185);
    width: 980px;
    margin: 0 auto;
}
/* End 베스트 특가 아이템 */

/* Start Title */
.product {
    margin: 0 auto;
}
.product h5 {
    margin-top: 50px;
}

.ti {
    float: left;
    margin-top: 50px;
    margin-right: 30px;
}
.lip {
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-right: 50px;
}
.product:after {
    display: block;
    content: "";
    clear: both;
}
.darkred {
    width: 100px;
    height: 170px;
    background-image: url(../images/lip1.jpg);
    margin-top: 50px;
}
.red {
    width: 100px;
    height: 170px;
    background-image: url(../images/lip2.jpg);
    margin-top: 50px;
}
.basic {
    width: 100px;
    height: 170px;
    background-image: url(../images/cusion1.jpg);
    margin-top: 50px;
}
.star {
    width: 100px;
    height: 170px;
    background-image: url(../images/lip2.jpg);
    margin-top: 50px;
}
/* End Title */

/* Start sbanner */
.backg {
    height: 800px;
    background-color: rgb(243, 243, 243);
}
/* End sbanner */

/* Start hot */
.wrap .hot {
    margin: 0 auto;
}
.hot h5 {
    margin-top: 50px;
}
.hand {
    background-image: url(../images/twist_1.jpg);
    width: 400px;
    height: 280px;
}
.basket {
    background-image: url(../images/twist_2.jpg);
    width: 400px;
    height: 280px;
}
.bicpic {
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-right: 50px;
}



/* End hot */































